@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url('http://themes.googleusercontent.com/static/fonts/adventpro/v1/rT9jpj7pBpZV6AmssbZKkxsxEYwM7FgeyaSgU71cLG0.woff') format('woff');
}

* {
  /*border: 1px solid red !important;*/
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'JunctionRegular';
  font-weight: lighter;
}

ul {
  list-style: none;
  width: 100%;
  text-align: center;
}

li {
  display: inline;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 40px;
}

p {
  line-height: 1.5;
  margin: 10px 150px 10px 150px;
}

a {
  text-decoration: none;
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 6px;
  font-family: 'Advent Pro';
}

h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
}

img {
  display: block; /*center images*/
  margin: auto; /*center images*/
}

/*HEADER*/
.headerContainer {
  display: block;
  margin: 0 auto;
  text-align: center; /*to center background image*/
}

.headerItem {
  -webkit-clip-path: inset(210px 0 380px 0); /*top right bottom left*/
  clip-path: inset(210px 0 380px 0);
  margin: -200px 0 -380px 0;
  font-family: 'Advent Pro';
  background-attachment: fixed;
}

.headerSections {
  font-family: 'Advent Pro';
  margin-top: 10px;
}

/*GENERAL*/
.container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.itemLeft {
  width: 10%;
  padding: 20px 0 0 20px;
  margin: 0;
  font-size: 20px;
  line-height: 2;
  font-family: 'Advent Pro';
}

.itemRight {
  width: 90%;
}

/*ABOUTME*/
.aboutmeIMG {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  height: 30%;
  width: 30%;
  margin-top: 30px;
}

/*HOME -  TOP STORY*/
.containerTopStory {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.titleTopStory {
  display: block;
  background: white;
  color: black;
  position: absolute;
  width: 280px;
  left: 410px;
  top: 80%;
}

#textTopStory {
  margin: 10px 300px 50px 165px;
}

/*HOME - FOUR SECTIONS*/
.itemSection {
  width: 25%;
  max-height: 250px;
  position: relative;
  overflow: hidden;
  margin: 30px 0 50px 0;
}

#homeSectionsTitles {
  position: absolute;
  width: 180px;
  left: 60px;
  padding: 5px 0 5px 0;
  bottom: 120px;
  background: white;
  opacity: 0.4;
 }

/*SECTION LANDING PAGE */
.BKGIMG {
  position: relative;
  max-width: 750px;
  max-height: 450px;
  overflow: hidden;
}
.BKGIMGTitle {
  position: absolute;
  left:  0;
  bottom: 20px;
  display: inline-block;
  background: white;
  width: 260px;
}
.storyTeaser {
  margin: 0;
  padding: 10px 210px 50px 220px;
}

/*STORY*/
.item {
  width: 50%;
  margin: 0;
  padding: 0;
}
.storyText {
  padding: 20px 20px 20px 20px;
}

#firstIMG {
  float: right;
  margin-right: 2px;
}

#secondIMG {
  float: left;
  margin-left: 2px;
}

/*BOTTOMSPACE*/
.bottomSpace {
  padding-bottom: 60px;
  color: white;
}

/*FOOTER*/
#footer {
   position:fixed;
   margin-top: 50px;
   bottom:0;
   width:100%;
   height:35px;
   background:#FDEDEC;
}
#socialFooter {
  display: inline-block;
  padding-top: 5px;
  margin: 0;
  max-width: 20px;
  max-height: 25px;
}


@media screen and (min-width: 481px) and (max-width: 800px) {
  body {
    height: 100%;
    width: 100%;
  }
  li {
    font-size: 32px;
  }
  h1 {
    font-size: 28px;
  }
  .headerItem {
    width: 100%;
    overflow: hidden;
  }
  .itemSearch {
    display: none;
  }
  .itemLeft {
    width: 15%;
  }
  .itemRight {
    width: 85%;
    max-height: 550px;
    margin: 10px 0 30px 0;
  }
  .containerTopStory {
    max-height: 550px;
    margin-left: 10px;
  }
  .titleTopStory {
    width: 230px;
    left: 130px;
    top: 58%;
    padding: 0;
    margin: 0;
  }
  #textTopStory {
    margin: 10px 25px 0 0;
  }
  .itemSection {
    width: 50%;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    margin: 30px 0 50px 0;
  }
  #homeSectionsTitles {
    width: 160px;
    left: 20px;
    bottom: 60px;
    opacity: 1;
  }
  .BKGIMG {
    margin: 10px 0 10px 10px;
  }
  .storyTeaser {
    margin: 0 3px 30px 3px;
    padding: 10px 40px 0 40px;
  }
  #ipadFirstIMG {
    margin-top: 10px;
  }
  #ipadIMGwidth, #firstIMG, #secondIMG {
    max-width: 100%;
    height: auto;
  }
}


@media screen and (max-width: 480px) {
  h1, li {
    font-size: 24px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .headerItem {
    display: none;
  }
  .itemSearch {
    display: none;
  }
  .itemLeft {
    display: none;
  }
  .headerSections {
    background-color: #FDEDEC;
    margin-top: 0;
    padding: 10px 0 5px 0;
  }
  .itemRight {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
    margin: 10px 0 30px 0;
  }
  .titleTopStory {
    width: 230px;
    left: 10px;
    top: 65%;
  }
  .container {
    flex-direction: column;
  }
  .itemSection {
    width: 100%;
    max-height: 200px;
    padding: 0;
    margin: 0 0 5px 0;
  }
  #homeSectionsTitles {
    width: 180px;
    left: 80px;
    padding: 5px 0 10px 0;
    margin: 0 0 0 0;
    bottom: 80px;
    background: white;
    opacity: 1;
   }
   #textTopStory {
     margin: 10px 3px 50px 3px;
   }
  .BKGIMG {
    margin: 10px 0 10px 0;
  }
  .storyTeaser {
    margin: 0 3px 50px 3px;
    padding: 0;
  }
  .item {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    max-height: 350px;
  }
  #firstIMG, #secondIMG {
    float: none;
    margin: 3px 0 0 0;
  }
  .storyText {
    padding: 0;
    margin: 5px 3px 5px 3px;
  }
  #mobileFirstIMG {
    margin-top: 10px;
  }
/*ABOUT ME*/
  #mobileAboutMePRG {
    padding: 0;
    margin: 5px 3px 5px 3px;
  }
  .aboutmeIMG {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    height: 70%;
    width: 70%;
    margin-top: 30px;
  }
}

/*makes links black not blue*/
a:link    {color:#000;}  /* unvisited link  */
a:visited {color:#000;}  /* visited link    */
a:hover   {color:#D7BDE2;}  /* mouse over link */
a:active  {color:#000;}  /* selected link   */

/*search box*/
.input[type=text] {
    width: 100px;
}
.searchbox {
  position: relative;
  float: right;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  font-size: 16px;
}
.containerSearch {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.itemSearch {
  align-self: flex-end;
  width: 100%;
}
